<?php

$config = [];

$config['database'] = 'data/sync/pdo/sqlite/deleted_cards.db';

$config['auth']['ldap'] = [
  'host'         => 'dev-db.intranet.isubsoft.com',
  'port'          => 389,
  'use_tls'       => false,
  'ldap_version'  => 3,       // using LDAPv3
  'network_timeout' => 10,    // The timeout (in seconds) for connect + bind attempts. This is only supported in PHP >= 5.3.0 with OpenLDAP 2.x
  'base_dn'       => 'ou=People,dc=example,dc=com',
  'bind_dn'       => '',
  'bind_pass'     => '',
  // It's possible to bind for an individual address book
  // The login name is used to search for the DN to bind with
  'search_base_dn' => '',
  'search_filter'  => '(&(objectclass=inetOrgPerson)(uid=%u))',   // e.g. '(&(objectClass=posixAccount)(uid=%u))'
  // DN and password to bind as before searching for bind DN, if anonymous search is not allowed
  'search_bind_dn' => 'cn=authclient,ou=People,dc=example,dc=com',
  'search_bind_pw' => 'authclient123',
  'scope' => 'list' // search mode: sub|base|list
];

$config['principal']['ldap'] = [
  'host'         => 'dev-db.intranet.isubsoft.com',
  'port'          => 389,
  'use_tls'       => false,
  'ldap_version'  => 3,       // using LDAPv3
  'network_timeout' => 10,    // The timeout (in seconds) for connect + bind attempts. This is only supported in PHP >= 5.3.0 with OpenLDAP 2.x
  'base_dn'       => 'ou=People,dc=example,dc=com',
  // It's possible to bind for an individual address book
  // The login name is used to search for the DN to bind with
  'search_base_dn' => '',
  'search_filter'  => '(&(objectclass=inetOrgPerson)(uid=%u))',   // e.g. '(&(objectClass=posixAccount)(uid=%u))'
  // DN and password to bind as before searching for bind DN, if anonymous search is not allowed
  'search_bind_dn' => 'cn=authclient,ou=People,dc=example,dc=com',
  'search_bind_pw' => 'authclient123',
  'scope' => 'list' // search mode: sub|base|list
];

$config['card']['addressbook']['ldap']['private'] = [
	'name'          	=> 'Personal Address Book',
  'description'     => 'New Book',
	'user_specific' 	=> true,
	'base_dn'       	=> 'ou=Address Book,uid=%u,ou=People,dc=example,dc=com',
	'bind_dn'       	=> '',
	//    'bind_pass'     => '',
	'filter'        	=> '(|(objectClass=inetOrgPerson)(objectClass=groupOfNames))',
	'writable'     	 	=> true,
	// If writable is true then these fields need to be populated:
	// LDAP_Object_Classes, required_fields, LDAP_rdn
	'LDAP_Object_Classes' => ['inetOrgPerson'],
	'required_fields'     => ['cn', 'sn'],
	'LDAP_rdn'      			=> 'cn',
  'fieldmap'      => [
		// vCard    => LDAP
    'FN'            => ['backend_attribute' => 'cn',
                          'parameters' => [],
                         'reverse_map_parameter_index' => ''],

    'N'							=> ['backend_attribute' => [ 'last_name' => 'sn', 'first_name' => 'givenName' ],
                          'parameters' => [],
                          'reverse_map_parameter_index' => ''],

		'EMAIL'         => ['backend_attribute' => 'mail',
                          'parameters' => [], 
                          'reverse_map_parameter_index' => ''],

		'ORG'         	=> ['backend_attribute' => [ 'org_name' => 'o', 'org_unit_name' => 'ou'],
                          'parameters' => [], 
                          'reverse_map_parameter_index' => ''],

    'TITLE'         => ['backend_attribute' => 'title',
                          'parameters' => [], 
                          'reverse_map_parameter_index' => ''],

    'NICKNAME'      => ['backend_attribute' => 'displayName',
                          'parameters' => [],  
                          'reverse_map_parameter_index' => ''],

		'PHOTO'         => ['backend_attribute' => 'jpegphoto',
                          'parameters' => [],
                          'reverse_map_parameter_index' => ''],

    'NOTE'        	=> ['backend_attribute' => 'description',
                        'parameters' => [],                     
                          'reverse_map_parameter_index' => ''],

    'TEL'						=> [['backend_attribute' => 'homePhone',
                          'parameters' => [ 'VALUE=text;TYPE="voice,home";PREF=1',
                                            'VALUE=text;PREF=1;TYPE="voice,home"',
                                            'TYPE=home;VALUE=TEXT',
                                              'TYPE="voice,home"',
                                              'PREF=1',
                                              null
                                          ],                    
                          'reverse_map_parameter_index' => 0 ],
                          ['backend_attribute' => 'telephoneNumber',
                          'parameters' => [ 'VALUE=text;TYPE="voice,work"',
                                            'VALUE=text;PREF=1;TYPE="voice,work"',
                                            'TYPE=work;VALUE=TEXT',
                                              'TYPE="voice,work"',
                                              'TYPE="work"',
                                          ],                    
                          'reverse_map_parameter_index' => 0 ],
                        ['backend_attribute' => 'homePhoneUri',
                          'parameters' => [ 'VALUE=uri;PREF=1;TYPE="voice,home"',
                                            'TYPE="voice,home"',
                                      ],
                      
                      'reverse_map_parameter_index' => 0]],
                     
      'ADR'         => [['backend_attribute' => ['street' => 'street', 'postal_code' => 'postalCode'],
                          'parameters' => [ 'VALUE=text;TYPE="home";PREF=1',
                                            'VALUE=text;PREF=1;TYPE="home"',
                                            'TYPE=home;VALUE=TEXT',
                                              'TYPE="home"',
                                              'PREF=1',
                                              null
                                             ],                    
                                  'reverse_map_parameter_index' => 0 ]]
	],
	
	'group_LDAP_Object_Classes' => ['groupOfNames'],
	'group_required_fields'     => ['cn', 'member'],
	'group_LDAP_rdn'      	    => 'cn',
	'group_member_map'          => [ 'MEMBER'      => [ 'backend_attribute' => 'member' ] ],
	'group_fieldmap'            => [     
																	 'FN'          => [	'backend_attribute' => 'cn',
																											'parameters'    => [],
																									 		'reverse_map_parameter_index' => ''
								                 										],
								                 	
																	 'NOTE'        => [	'backend_attribute' => 'description',
																											'parameters' => [],                     
																											'reverse_map_parameter_index' => ''
																										]
                                 ],
	'scope'         => 'list'   // search mode: sub|base|list
];
