'fieldmap'      => [
		// vCard    => LDAP
    'FN'            => ['backend_attribute' => 'cn',
                          'parameters' => [],
                         'reverse_map_parameter_index' => ''],

    'N'							=> ['backend_attribute' => [ 'last_name' => 'sn', 'first_name' => 'givenName', 'prefix' => 'personalTitle' ],
                          'parameters' => [],
                          'reverse_map_parameter_index' => ''],  // personalTitle is outside of inetOrgPerson ldap schema 

		'EMAIL'         => ['backend_attribute' => 'mail',
                          'parameters' => [], 
                          'reverse_map_parameter_index' => ''],

		'ORG'         	=> ['backend_attribute' => [ 'org_name' => 'o', 'org_unit_name' => 'ou'],
                          'parameters' => [], 
                          'reverse_map_parameter_index' => ''],

    'TITLE'         => ['backend_attribute' => 'title',
                          'parameters' => [], 
                          'reverse_map_parameter_index' => ''],
    
    'ROLE'        => ['backend_attribute' => 'employeeType',
                          'parameters' => [], 
                          'reverse_map_parameter_index' => ''],  

    'NICKNAME'      => ['backend_attribute' => 'displayName',
                          'parameters' => [],  
                          'reverse_map_parameter_index' => ''],

		'PHOTO'         => [['backend_attribute' => 'jpegphoto',
                            'parameters' => [ 'TYPE=JPEG;ENCODING=B',
                                            'TYPE=JPEG;VALUE=URL',
                                            'MEDIATYPE=image/jpeg;VALUE=URL',
                                            'ENCODING=BASE64;TYPE=JPEG',
                                            'MEDIATYPE=image/jpeg;VALUE=URI',
                                            'TYPE=JPEG;VALUE=URI',
                                            'ENCODING=B',
                                            'VALUE=URL',
                                            'ENCODING=BASE64',
                                            'VALUE=URI'
                                          ],
                            'reverse_map_parameter_index' => '0',
                            'decode_file' => true]],

    'NOTE'        	=> ['backend_attribute' => 'description',
                        'parameters' => [],                     
                          'reverse_map_parameter_index' => ''],

    'TEL'						=> [['backend_attribute' => 'homePhone',
                          'parameters' => [ 'VALUE=text;TYPE="voice,home";PREF=1',
                                            'VALUE=text;TYPE="voice,home"',
                                            'TYPE=home;VALUE=TEXT',
                                              'TYPE="voice,home"',
                                              'PREF=1',
                                              null
                                          ],                    
                          'reverse_map_parameter_index' => 0 ],
                          ['backend_attribute' => 'telephoneNumber',
                          'parameters' => [ 'VALUE=text;TYPE="voice,work"',
                                            'VALUE=text;PREF=1;TYPE="voice,work"',
                                            'TYPE=work;VALUE=TEXT',
                                              'TYPE="voice,work"',
                                              'TYPE="work"',
                                          ],                    
                          'reverse_map_parameter_index' => 0 ],
                        ['backend_attribute' => 'fax',
                          'parameters' => [ 'VALUE=text;TYPE="voice,fax"',
                                            'VALUE=text;PREF=1;TYPE="voice,fax"',
                                            'VALUE=text;TYPE="fax"',
                                            'TYPE="voice,fax"',
                                            'TYPE="fax"'
                                      ],                      
                      'reverse_map_parameter_index' => 0],
                      ['backend_attribute' => 'pager',
                          'parameters' => [ 'VALUE=text;TYPE="voice,pager"',
                                            'VALUE=text;PREF=1;TYPE="voice,pager"',
                                            'VALUE=text;TYPE="pager"',
                                            'TYPE="voice,pager"',
                                            'TYPE="pager"'
                                      ],                      
                      'reverse_map_parameter_index' => 0],
                      ['backend_attribute' => 'mobile',
                          'parameters' => [ 'VALUE=text;TYPE="voice,cell"',
                                            'VALUE=text;PREF=1;TYPE="voice,cell"',
                                            'VALUE=text;TYPE="cell"',
                                            'TYPE="voice,cell"',
                                            'TYPE="cell"'
                                      ],                      
                      'reverse_map_parameter_index' => 0]],
                     
      'ADR'         => [['backend_attribute' => ['po_box'=> 'postOfficeBox','house_no' => 'postalAddress','street' => 'street','locality' => 'l','province' => 'stateOrProvinceName', 'postal_code' => 'postalCode'],
                          'parameters' => [ 'VALUE=text;TYPE="home";PREF=1',
                                            'TYPE=home;VALUE=TEXT',
                                              'TYPE="home"',
                                              'PREF=1',
                                              null
                                             ],                    
                                  'reverse_map_parameter_index' => 0 ]],

      'LANG'        => [['backend_attribute' => 'preferredLanguage',
                          'parameters' => [ 'VALUE=language-tag;TYPE="home";PREF=1',
                                            'VALUE=language-tag;TYPE="home"',
                                            'VALUE=language-tag;TYPE="work"',
                                              'TYPE="home"',
                                              'TYPE="work"',
                                              null
                                             ],                    
                                  'reverse_map_parameter_index' => 0 ]],
	]