// Field map for standard vCard properties to LDAP inetOrgPerson object class

    'FN'            => ['field_name' => 'cn',
                          'parameters' => [],
                         'reverse_map_parameter_index' => ''],

    'N'							=> ['field_name' => [ 'last_name' => 'sn', 'first_name' => 'givenName'],
                          'parameters' => [],
                          'reverse_map_parameter_index' => ''],

		'EMAIL'         => ['field_name' => 'mail',
                          'parameters' => [], 
                          'reverse_map_parameter_index' => ''],

		'ORG'         	=> ['field_name' => [ 'org_name' => 'o', 'org_unit_name' => 'ou'],
                          'parameters' => [], 
                          'reverse_map_parameter_index' => ''],

    'TITLE'         => ['field_name' => 'title',
                          'parameters' => [], 
                          'reverse_map_parameter_index' => ''],
    
    'ROLE'        => ['field_name' => 'employeeType',
                          'parameters' => [], 
                          'reverse_map_parameter_index' => ''],  

    'NICKNAME'      => ['field_name' => 'displayName',
                          'parameters' => [],  
                          'reverse_map_parameter_index' => ''],

		'PHOTO'         => [['field_name' => 'jpegphoto',
                            'parameters' => [ 'TYPE=JPEG;ENCODING=B',
                                            'TYPE=JPEG;VALUE=URL',
                                            'MEDIATYPE=image/jpeg;VALUE=URL',
                                            'ENCODING=BASE64;TYPE=JPEG',
                                            'MEDIATYPE=image/jpeg;VALUE=URI',
                                            'TYPE=JPEG;VALUE=URI',
                                            'ENCODING=B',
                                            'VALUE=URL',
                                            'ENCODING=BASE64',
                                            'VALUE=URI'
                                          ],
                            'reverse_map_parameter_index' => '0',
                            'decode_file' => true]],

    'NOTE'        	=> ['field_name' => 'description',
                        'parameters' => [],                     
                          'reverse_map_parameter_index' => ''],

    'TEL'						=> [['field_name' => 'homePhone',
                          'parameters' => [ 'VALUE=text;TYPE="voice,home";PREF=1',
                                            'VALUE=text;TYPE="voice,home"',
                                            'TYPE=home;VALUE=TEXT',
                                              'TYPE="voice,home"',
                                              'PREF=1',
                                              null
                                          ],                    
                          'reverse_map_parameter_index' => 0 ],
                          ['field_name' => 'telephoneNumber',
                          'parameters' => [ 'VALUE=text;TYPE="voice,work"',
                                            'VALUE=text;PREF=1;TYPE="voice,work"',
                                            'TYPE=work;VALUE=TEXT',
                                              'TYPE="voice,work"',
                                              'TYPE="work"',
                                          ],                    
                          'reverse_map_parameter_index' => 0 ],
                        ['field_name' => 'fax',
                          'parameters' => [ 'VALUE=text;TYPE="voice,fax"',
                                            'VALUE=text;PREF=1;TYPE="voice,fax"',
                                            'VALUE=text;TYPE="fax"',
                                            'TYPE="voice,fax"',
                                            'TYPE="fax"'
                                      ],                      
                      'reverse_map_parameter_index' => 0],
                      ['field_name' => 'pager',
                          'parameters' => [ 'VALUE=text;TYPE="voice,pager"',
                                            'VALUE=text;PREF=1;TYPE="voice,pager"',
                                            'VALUE=text;TYPE="pager"',
                                            'TYPE="voice,pager"',
                                            'TYPE="pager"'
                                      ],                      
                      'reverse_map_parameter_index' => 0],
                      ['field_name' => 'mobile',
                          'parameters' => [ 'VALUE=text;TYPE="voice,cell"',
                                            'VALUE=text;PREF=1;TYPE="voice,cell"',
                                            'VALUE=text;TYPE="cell"',
                                            'TYPE="voice,cell"',
                                            'TYPE="cell"'
                                      ],                      
                      'reverse_map_parameter_index' => 0]],
                     
      'ADR'         => [['field_name' => 'homePostalAddress',
                          'parameters' => [ 'VALUE=text;TYPE="home";PREF=1',
                                            'TYPE=home;VALUE=TEXT',
                                            'TYPE="home"',
                                            'PREF=1',
                                            null
                                            ],                    
                                        'reverse_map_parameter_index' => 0,
                                        'map_component_separator' => '$' ],
                          ['field_name' => ['po_box'=> 'postOfficeBox','street' => 'street','locality' => 'l','province' => 'st', 'postal_code' => 'postalCode'],
                          'parameters' => [ 'VALUE=text;TYPE="work";PREF=1',
                                            'TYPE=work;VALUE=TEXT',
                                              'TYPE="work"',
                                              'PREF=1'
                                             ],                    
                                  'reverse_map_parameter_index' => 0 ]],

      'LANG'        => [['field_name' => 'preferredLanguage',
                          'parameters' => [ 'VALUE=language-tag;TYPE="home";PREF=1',
                                            'VALUE=language-tag;TYPE="home"',
                                            'VALUE=language-tag;TYPE="work"',
                                              'TYPE="home"',
                                              'TYPE="work"',
                                              null
                                             ],                    
                                  'reverse_map_parameter_index' => 0 ]]

// Field map alternative to be considered if using an appropriate LDAP object class

    'N'							=> ['field_name' => [ 'last_name' => 'sn', 'first_name' => 'givenName', 'prefix' => 'personalTitle' ]
